<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <base href="/">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->

    <link th:href="@{assets-admin/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{assets-admin/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{assets-admin/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{assets-admin/css/theme.css}" rel="stylesheet" media="all">
    <link th:href="@{assets-admin/css/datatable.css}" rel="stylesheet" media="all">
    <script th:src="@{http://code.jquery.com/jquery-2.1.1.min.js}"></script>
    <script th:src="@{assets_user/js/jquery.validate.js}"  ></script>



</head>
<body class="animsition">
<header th:fragment="header-mobile" class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img src="assets-admin/images/icon/logo.png" alt="CoolAdmin" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="/admin/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a th:href="@{/web/estates/}">
                        <i class="fas fa-calendar-alt"></i>Estate</a>
                </li>
                <li>
                    <a href="/web/categorys/">
                        <i class="fas fa-thumbtack"></i>Category</a>
                </li>
                <li>
                    <a href="/web/news/">
                        <i class="fas fa-book"></i>News</a>
                </li>
                <li>
                    <a href="/web/clients/">
                        <i class="fas fa-user"></i>Client</a>
                </li>
                <li>
                    <a href="/web/categoryNews/">
                        <i class="fas fa-briefcase"></i>CategoryNews</a>
                </li>
                <li>
                    <a href="/web/layouts/">
                        <i class="fas fa-briefcase"></i>Layout</a>
                </li>
                <li>
                    <a href="/web/banners/">
                        <i class="fas fa-folder"></i>Banner</a>
                </li>
                <li>
                    <a href="/web/contacts/">
                        <i class="fas fa-phone"></i>Contact</a>
                </li>
<!--                <li class="has-sub">-->
<!--                    <a class="js-arrow" href="#">-->
<!--                        <i class="fas fa-copy"></i>Pages</a>-->
<!--                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">-->
<!--                        <li>-->
<!--                            <a href="/login">Login</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="register.html">Register</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="forget-pass.html">Forget Password</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
            </li>
            </ul>
        </div>
    </nav>
</header>
<aside th:fragment="header-slidebar" class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/admin/">
            <img th:src="@{assets-admin/images/icon/logo.png}" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/admin/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a th:href="@{/web/estates/}">
                        <i class="fas fa-calendar-alt"></i>Estate</a>
                </li>
                <li>
                    <a href="/web/categorys/">
                        <i class="fas fa-thumbtack"></i>Category</a>
                </li>
                <li>
                    <a href="/web/news/">
                        <i class="fas fa-book"></i>News</a>
                </li>
                <li>
                    <a href="/web/clients/">
                        <i class="fas fa-user"></i>Client</a>
                </li>
                <li>
                    <a href="/web/categoryNews/">
                        <i class="fas fa-briefcase"></i>CategoryNews</a>
                </li>
                <li>
                    <a href="/web/layouts/">
                        <i class="fas fa-briefcase"></i>Layout</a>
                </li>
                <li>
                    <a href="/web/banners/">
                        <i class="fas fa-folder"></i>Banner</a>
                </li>
                <li>
                    <a href="/web/contacts/">
                        <i class="fas fa-phone"></i>Contact</a>
                </li>
<!--                <li class="has-sub">-->
<!--                    <a class="js-arrow" href="#">-->
<!--                        <i class="fas fa-copy"></i>Pages</a>-->
<!--                    <ul class="list-unstyled navbar__sub-list js-sub-list">-->
<!--                        <li>-->
<!--                            <a href="/admin/login">Login</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="register.html">Register</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="forget-pass.html">Forget Password</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </nav>
    </div>
</aside>
<header th:fragment="header-desktop" class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    <!--                    <input class="au-input au-input&#45;&#45;xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />-->
                    <!--                    <button class="au-btn&#45;&#45;submit" type="submit">-->
                    <!--                        <i class="zmdi zmdi-search"></i>-->
                    <!--                    </button>-->
                </form>
                <div class="header-button">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="assets-admin/images/icon/avatar-01.jpg" alt="John Doe" />
                            </div>
                            <div class="content">
                                <a sec:authentication="name" class="js-acc-btn" href="#"></a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="assets-admin/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a sec:authentication="name" href="#"></a>
                                        </h5>
                                        <span sec:authentication="name" class="email"></span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Setting</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-money-box"></i>Billing</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="/logout">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="row" th:fragment="footer">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright © 2020 D-gray. All rights reserved.</p>
        </div>
    </div>
</div>

<th:block th:fragment="block-script">
    <!-- Jquery JS-->
    <script th:src="@{assets-admin/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{assets-admin/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script th:src="@{assets-admin/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script th:src="@{assets-admin/vendor/slick/slick.min.js}">
    </script>
    <script th:src="@{assets-admin/vendor/wow/wow.min.js}"></script>
    <script th:src="@{assets-admin/vendor/animsition/animsition.min.js}"></script>
    <script th:src="@{assets-admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script th:src="@{assets-admin/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script th:src="@{assets-admin/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script th:src="@{assets-admin/vendor/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{assets-admin/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{assets-admin/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{assets-admin/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script th:src="@{assets-admin/js/main.js}"></script>

</th:block>

</div>
</body>
</html>