<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="admin/layout::head">
    <title>Project</title>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header th:replace="admin/layout::header-mobile"></header>
    <!-- END HEADER MOBILE-->
    <aside th:replace="admin/layout::header-slidebar"></aside>
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/layout::header-desktop"></header>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a methods="GET" th:href="@{/web/projects/add}"
                                   class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus">ADD NEW Project</i></a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">

                                    </br>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th class="text-right">Image</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="project : ${projects}">
                                        <td th:text="${project.name}"></td>
                                        <td th:text="${project.category.name}"></td>
                                        <td th:text="${project.status}"></td>
                                        <td>
                                            <th:block th:if="${project.image}">
                                                <img th:src="@{/upload/__${project.image}__}" th:height="40px"
                                                     th:width="40px">
                                            </th:block>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a th:href="@{/web/projects/detail/__${project.id}__ }" class="item"
                                                   data-toggle="tooltip" data-placement="top" title="Detail">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a th:href="@{/web/projects/edit/__${project.id}__ }" class="item"
                                                   data-toggle="tooltip" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>

                                                <a th:href="@{/web/projects/delete/__${project.id}__}" class="item"
                                                   data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right">
                                <a th:href="@{'/web/projects/'(page=${projects.number - 1})}" th:if="${projects.hasPrevious()}">Previous</a>
                                <span th:text="${projects.number + 1}"></span>/<span th:text="${projects.totalPages}"></span>
                                <a th:href="@{'/web/projects/'(page=${projects.number + 1})}" th:if="${projects.hasNext()}">Next</a>
                            </div>
                        </div>
                        <!-- END USER DATA-->


                    </div>
                    <div th:replace="admin/layout::footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="admin/layout::block-script">
</th:block>

</body>

</html>
<!-- end document-->
